<div class="container padding-base">
  <div class="l-posts">
  <h2 class="title">
    <%= t('articles.title') %>
  </h2>

  <div class="row">
    <% posts.each do |post| %>
      <div class="col-50">
        <%= render 'shared/post-mini', post: post %>
      </div>
    <% end %>
  </div>

  <div class="center-text">
    <%= paginate posts, window: 5 %>
  </div>
</div>

</div>
