.l-posts{

  .row{
    margin-left: -15px;
    margin-right: -15px;

    .col-50{
      padding: 15px;

      @include breakpoint(phablet){
        flex-basis: 50%;
      }

      @include breakpoint(laptop){
        flex-basis: 33.33%;
      }
    }
  }

  .center-text{
    margin-bottom: 20px;
  }
}
