<header>
  <div class="container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>

    <nav class="menu">
      <ul>
        <li>
          <%= link_to t('header.menu.home'), root_path %>
        </li>
        <li>
          <%= link_to t('header.menu.articles'), articles_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
