.slider{
  position: relative;
  width: 100%;

  .slides{

    .slide{
      background-size: cover;
      @include rem(min-height, 400px);

      .title{
        background: rgb(78, 173, 251);
        padding: 10px 20px;
        color: rgb(255, 255, 255);
        @include rem(font-size, 40px);
        font-weight: 200;
        font-family: $font1;
        line-height: 1em;
        float: left;
      }//.title

      .content{
        position: relative;
        @extend .container;
        padding: 5% 50px;
        overflow: hidden;

        .body{
          clear: both;
          @include rem(max-width, 700px);
          margin-top: 2%;
          float: left;
          width: 100%;

          .text{
            background: rgba(255,255,255,0.8);
            padding: 10px 20px;
            @include rem(font-size, 20px);
            font-weight: 200;
            line-height: 1.1em;
            margin-bottom: 10px;
          }//.text

        }//.body

        .button{
          float: right;
          margin-bottom: 10px;
          display: block;
        }//.button
      }//.content
    }//.slide
  }//.slides

  .controls{
    .left, .right{
      cursor: pointer;
      position: absolute;
      color: #fff;
      background: #4eadfb;
      top: 50%;
      @include rem(font-size, 20px);
      line-height: 1em;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      border-radius: 40px;
      transition: all .5s;
      opacity: .5;
    }

    .right{
      right: 10px;

      &:before{
        content: ">";
      }
    }

    .left{
      left: 10px;
      &:before{
        content: "<";
      }
    }
  }//.controls
}
